/* Estilos para el contenedor de la aplicación */
.app-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  /* Estilos para el título de la aplicación */
  .app-title {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
  }
  
  /* Estilos para el formulario de contacto */
  .contact-form {
    display: flex;
    flex-direction: column;
  }
  
  .contact-form label {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .contact-form input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
 
  
 
 
input{
  margin: 15px;
}